{% extends "text-page.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ SITEURL }}/theme/assets/css/galerie.css">
{% endblock %}

{% block text %}
<h1>Galerie</h1>
<div>
  Cliquer sur l'image pour l'agrandire et sur <span class="shadowed"><img src="{{ SITEURL }}/theme/assets/img/play.svg" style="width: 25px;" /></span> pour charger le code dans Basthon.
</div>
<p>
  <div class="tabset">
  <input type="radio" name="tabset" id="tab-py3" checked>
  <label for="tab-py3">Python 3</label>
  <input type="radio" name="tabset" id="tab-py3-old">
  <label for="tab-py3-old">Python 3 (ancienne version)</label>
  <input type="radio" name="tabset" id="tab-sql">
  <label for="tab-sql">SQL</label>
  <input type="radio" name="tabset" id="tab-ocaml">
  <label for="tab-ocaml">OCaml</label>
  <input type="radio" name="tabset" id="tab-js">
  <label for="tab-js">JavaScript</label>
  <div class="tab-panels">
    {{ SITEURL|galerie }}
  </div>
</div>
{% endblock %}
